* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.header-container {
    display: flex;

}

.navigationLogIn {
    border: solid red 1px;
    width:100%;
    

}

.log-in{
    border:solid blue 1px;
    display:flex;
     justify-content: flex-end;
}

.nav-action {
    padding:15px;
    text-decoration: none;
    color:black;
    font-weight:bold;
}

.login {
    color:white;
    background-color:#643B47;
    border-radius: 0px 0px 10px 10px;
}

