h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', 'Noto Serif Myanmar', serif;
}
.main-container {
    max-width: 100%;
    overflow-x: hidden;
}

.row.extra-gap {
    --bs-gutter-x: 6rem;
    /* Horizontal gap */
    --bs-gutter-y: 6rem;
    /* Vertical gap */
}
                .back-btn {
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    z-index: 1000;
                    background-color: #5a3921;
                    color: white;
                    border: none;
                    padding: 8px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: all 0.3s;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1rem;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                }
        
                .back-btn:hover {
                    background-color: #e6b17e;
                    transform: translateX(-5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                }
        
                .back-btn:active {
                    transform: translateX(-5px) scale(0.95);
                }

/* Smooth transition for the image */
.explore-card img {
    transition: transform 0.4s ease;
}

/* Lift the image upwards on hover */
.explore-card:hover img {
    transform: translateY(-15px);
    /* move up by 15px */
}